body {
    margin: 0;
}
.head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'PT Sans', sans-serif;
    color: #242c4a;
    margin-bottom: 8px;
}
.logo {
    margin-right: 0px;
}
.title {
    margin-bottom: 5px;
    font-size: x-large;
}
.subtitle {
    margin-top: 0;
    margin-left: 13px;
    font-size: xx-small;
}
nav {
    margin-top: 40px;
    font-size: small;
    margin-left: 650px;
}
select {
    background: transparent;
    border: 0;
    color: #242c4a;
    margin-right: 30px;
}
hr {
    border-width: 0.01em;
    border-color: rgba(0,0,255,0.10);
    margin: 0;
}
.logo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-left: 700px;
}
.stars {
    margin-bottom: 8px;
}
.material-symbols-outlined {
    color: #f68059;
}
.hotelTitle {
    color: #242c4a;    
    margin-bottom: 15px;
    font: 400 42px/53px Butler;
}
.hotelSubtitle {
    color: #242c4a;
    opacity: .5;
    font-size: small;
    text-transform: uppercase;
}
.rece {
    display: flex;
    text-align: center;
    margin-top: 70px;
    margin-left: 240px;
}
.receText p{
    margin-bottom: 8px;
    font-weight:bold;
    color: #242c4a;
    margin-right: 10px;
}
.receText span {
    color: grey;
    font-weight: bold;
    font-size: small;
}
.score {
    width: 48px;
    height: 48px;
    margin-top: 13px;
    border: 1px solid #2baf40;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score span {
    color: #2baf40;
    font-weight: bold;
    font-size: large;
}
section {
    display: flex;
    font-family: 'PT Sans', sans-serif;
}
.images {
    margin-top: 50px;
    display: flex;
}
.listaMenu {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    align-items: center;
    margin-left: 350px;
    margin-bottom: 0;;

}
.listaMenu li {
    margin-right: 70px;
    color: #242c4a;
    font-family: 'PT Sans', sans-serif;
    margin-top: 15px;
    padding-bottom: 20px;
}
.sign {
    border-bottom: 1px solid #242c4a;
    font: 400 17px/19px Roboto,sans-serif;
}
.titleMenu {
    font-family: 'PT Sans', sans-serif;
    color:#242c4a;
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 400px
}
.imageMap {
    margin-left: 400px;
}
.imageMap img {
    position: absolute;
}
.buttonMap {
    position: absolute;
    padding: 15px 45px;
    background: #242c4a;
    color: white;
    margin-top: 160px;
    margin-left: 460px;
    cursor: pointer;
}
.div1 {
    position: absolute;
    margin-top: 375px;
    margin-left: 400px;
}
.div1 p {
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    color: gray;
    margin-bottom: 8px;
}
.div1 span {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #242c4a;
}
.div2 {
    position: absolute;
    margin-top: 447px;
    margin-left: 960px;
    border-left: 0.01em solid rgba(0,0,255,0.10);
    padding-left: 23px;

}
.div2 p {
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    color: gray;
    margin-bottom: 8px;
    margin-top: 0;
}
.div2 ul {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color:#242c4a;
    padding-left: 14px;
}
.div2 ul li {
    margin-bottom: 15px;
}